

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.main--parallax {
	background: url("img/pattern.png") no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
}

.main__photo {
	margin-left: 5%;
	height: 100vh;
	display: flex;
	align-items: flex-end;
}

.main__info {
	width: 50%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	margin-top: 5%

}

.photo__me {
	height: 90%;
}

.info__text {
	color: #27ae60;
	font-size: 5em;
	width: 100%;
	height: 20%;
}

.info__job--thin {
	font-size: 2.5em;
	text-align: center;
}

.info__sname {
	text-align: right;
}

.info__links {
	width: 100%;
	height: 25%
	margin-left: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.links__box {
 	width: 12%;
 	height: 80%;
 	margin-left: 10px;
}

.info__shape--short {
	width: 65%;
	color: #27ae60;
	margin-bottom: 7px;
}

.info__shape--long {
	width: 75%
	color: #27ae60;
}

.info__shapes {
	width: 100%;
	text-align: center;
}