

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/*
=================================================================
LANDING PAGE
=================================================================
*/

.main--parallax {
	background: url("img/pattern.png") no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
}

/*
============
PHOTO
============
*/

.main__photo {
	margin-left: 5%;
	height: 100vh;
	display: flex;
	align-items: flex-end;
}

.photo__me {
	height: 90%;
}

/*
==========
TEXT LP
==========
*/

.main__info {
	width: 50%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	margin-top: 5%

}


.info__text {
	color: #27ae60;
	font-size: 5em;
	width: 100%;
	height: 20%;
	font-size: calc(4em + 1 * ((100vw - 60em)/(35 - 20)))
}

.info__job--thin {
	font-size: 2.5em;
	text-align: center;
}

.info__sname {
	text-align: right;
}

/*
===========
LINKS
===========
*/

.info__links {
	width: 100%;
	height: 25%
	margin-left: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10%;
}

.links__box {
 	width: 12%;
 	height: 80%;
 	margin-left: 10px;
}

/*
===========
SHAPES
===========
*/

.info__shape--short {
	width: 65%;
	background-color: #27ae60;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: 1px;
}

.info__shape--long {
	width: 75%
	background-color: #27ae60;;
	color: #27ae60;
	margin-bottom: 5%;
	border-bottom: 1px solid #27ae60;
	border-top: none;
}

.info__shapes {
	width: 100%;

}

.shape--short {
	width: 40%;
	margin-right: 30%
	margin-left: 30%;
	background-color: #27ae60;
	height: 1px;
	border: none;
}

/*
=================================================================
About Me
=================================================================
*/

.aboutme {
	width: 100%;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.aboutme__header {
	font-size: 75px;
	margin-right: auto;
	margin-left: auto;
	color: #27ae60;
	margin-top: 40px;
}

.aboutme__text {
	width: 70%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));
	font-size: calc(1em + 0.1 * ((100vw - 60em)/(35 - 20)));
	border-left: 4px #27ae60 solid;
	padding-left: 5px;

}

/*
===========
QuoteBox
===========
*/

.aboutme__quotebox--orange {
	width: 100%;
	height: 33%;
	background-color: #e67e22;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quotebox__quote {
	width: 80%;
	text-align: center;
	font-size: 36px;
	color: white;
}

.quotebox__author {
	color: white;
}

/*
=====================================================================
Skills
=====================================================================
*/

.skills {
	width: 100%;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ecf0f1;
	background-image: url("img/sketch.jpg");
	background-size: cover;
}

/*
============
HEADER
============
*/

.skills__header {
	font-size: 75px;
	margin-right: auto;
	margin-left: auto;
	color: #27ae60;
	background-color: rgba(33,33,33,0.5);
	width: 100%;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
}

/*
===========
BOXES
===========
*/

.box__want {
	min-width: 25%;
	min-height: 10%;
	background-color: rgba(192, 57, 43, 0.7);
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}

.box__low {
	min-width: 25%;
	min-height: 10%;
	background-color: rgba(230, 126, 34, 0.7);
	display: inline-block;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}

.box__med {
	min-width: 25%;
	min-height: 10%;
	background-color: rgba(241, 196, 15, 0.7);
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}

.box__high {
	min-width: 25%;
	min-height: 10%;
	background-color: rgba(22, 160, 133, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}

.skills__box {
	min-width: 100%;
	min-height: 25vw;
	display: flex;
}


.box__item {
	width: 10vw;
	height: 10vw;
	padding: 10px;
}

/*
===========
MY JOB
===========
*/

.skills__myjob {
	width: 100%;
	background-color: rgba(52, 73, 94, 0.7);
	height: 50vh;
	display: flex;
	justify-content: space-around;
}

.myjob__icon {
	padding: 10px;
}



/*
=====================================================================
Experience & Graduate
=====================================================================
*/


.experiencegraduate {
	height: 100vh;
	max-width: 100vw;
	background-image: url("img/bg2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.expgra {
	display: flex;
	justify-content: center;
}

.expgra__img {
	width: 5vw;
	height: 5vw;
	margin-right: 40%;
	margin-left: 40%;
	margin-top: 10%;
}

.expgra__box {
	height: 45vh;
	width: 25vw;
	background-color: rgba(255,255,255, 0.4);
	margin-left: 15px;
}

.experiencegraduate__header {
	font-size: 60px;
	color: #27ae60;
	text-align: center;
	margin-bottom: 7vh;
	margin-top: 4vh;
}

.expgra__text {
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 10%;
}

.expgra__button {
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	background-color: rgb(255,153,142);
	color: white;
	border-radius: 50px;
	border: none;
	padding: 15px 32px;
	text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 25px;
    margin-top: 5vh;
}

.expgra__button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.expgra__button:after,
.expgra__button:before {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid rgb(255,153,142);
  top: 50%;
  width: 50%;
}

.expgra__button:after {
	left: 100%;
	margin-right: 15px;
}

.expgra__button:before {
	right: 100%;
	margin-left: 15px;
}

/*
====================================================================
PROJECTS
====================================================================
*/

.projects {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.projects_view {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 95%;
}